.footer {
    grid-area: footer;
    background-color: #000000;
    color: #fff;
    height: 100px;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.footer a {
    color: white;
}