.line1 {
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 8px;
    transition: 0.3s;
}

.line2 {
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 8px;
    transition: 0.3s;
}

.line3 {
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 8px;
    transition: 0.3s;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 30px;
}

@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
.line1.active {
    transform: rotate(-45deg) translate(-8px, 8px);

  }
  
.line2.active {
    opacity: 0;
  }
  
.line3.active {
    transform: rotate(45deg) translate(-5px, -7px);
  }